<h1>Index Cocktails List</h1>

<p>
<ul>
  <% @cocktails.each do |cocktail|  %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
  <% end %>
</ul>

</p>

<br>
<%= link_to "Add Cocktail baby!", new_cocktail_path %>
